// Первоначальная настройка 
.header__top {
    background: #fff;
    height: 65px;
}
.header__top-upper {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
@media(max-width:1480px) {
    .header__top-upper {
        max-width: 1050px;
        margin: 0 auto;
    }
}
.header__upper-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.header__btn-menu  {
    border: 1px solid #252525;
    padding: 5px;
    cursor: pointer;
}
.header__upper-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__btn-name {
    font-size: 14px;
    color: #252525;
    opacity: 0.5;
}
.header__upper-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.header__btn-call {
    padding: 5px;
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__btn-connection  {
    padding: 0 15px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #252525;
    font-size: 14px;
}


.header__upper-right-descr,
.header__upper-left-descr{
    font-weight: 700 !important;
}


.add {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff !important;
    line-height: normal !important;

    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 5px 5px 5px 35px;
    background: #FF553F;
    width: fit-content;
    margin: 0 auto;
    user-select: none;

    &.close {
        display: none;
    }

    &.add-map {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
        margin-bottom: 25px;
    }
}

@media(max-width: 600px) {
    .add.add-map {
        flex-direction: column !important;
    }
}


.add__close {
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;

    &::before {
        position: absolute;
        content: "\ea18";
        color: #fff;
        font-size: 14px;
        font-family: "icomoon" !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        transform: scale(1.05);
        border-color: #fff;
        background: transparent;
    }
}
.add__title {
    color: #fff !important;
    font-weight: 700 !important;
}

#timer {
    background: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    color: #451F99;
    white-space: nowrap;
}

@media(max-width:1150px) {
    .header__top {
        padding: 0 25px;
       
    }
}
@media(max-width:900px) {
    .header__top-upper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        margin-bottom: 15px;

        .add {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            width: 100% !important;
        }
        .header__upper-left {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .header__upper-right {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    .header__top {
        height: fit-content;
        padding-top: 20px;
    }
}

@media(max-width:480px) {
    .header__top-upper {
        grid-template-columns: 1fr;


        .add {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .header__upper-left {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-content: center;
            align-items: center;
        }
        .header__upper-right {
            grid-column: 1/2;
            grid-row: 3/4;
            justify-content: center;
            align-items: center;
        }
    }
    .header__top {
        padding: 0 20px;
        padding-top: 15px;
    }
}